.cover{
    background-image: linear-gradient(rgba(29, 26, 26, 0.26), #17253570),url('../../../Images/Blooddonation.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.donor{
    color: #fff;
    border-radius: 20px;
    padding: 10px 0px;
    margin-bottom: 10px;
    background-color: rgba(23, 121, 226, 0.7);
}
