.cover{
    background-color: rgba(23, 122, 226);
    /* background-color: #177ae2; */
}
.donor{
    /* background-image: url('../../../Images/Blooddonation.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    height: 220px;
}